<header class="container" style="padding:20 20 20 20;color:white;width:auto; height:180px; background-color:rgb(65,123,169); font-size:30px;" layout="column">
    <div style="padding-bottom:20px;float:none; margin-left:auto; margin-right:auto;text-align:center;width:400px;border-top:2px solid rgb(235,186,153);border-bottom:2px solid rgb(235,186,153);">
        <h3>        
            {{curSchool}}
        </h3>
    </div>
    <div layout="row" style="margin-top:60px;" layout-align="space-between">
        <div >
            <span class="glyphicon glyphicon-user"></span>
            <span style="font-size:20px;">{{curStudent.firstName}} {{curStudent.lastName}}</span>
        </div>
        <div>
            <button ng-click="doLogout()" type="button" class="btn btn-default">
                Log out
            </button>
        </div>
    </div>
</header>

<div class="container" style="min-height:360px;">
    <div style="margin-top:50; border:1px solid gray;width:400px; height:auto;" layout="column">
        <div style="background-color:rgb(65,123,169);">
            <h5 style="color:white;margin-left:20px;">
            Course List
            </h5>
        </div>
        <div style="padding:20;background-color:rgb(250,247,244);">
            Courses where you are: Student <br/><br/>
            <strong style="color:rgb(12,116,138)" >61463_201503: 201503_Advanced Software Paradigms_CSCI_6221_10</strong><br/>
            Instructor: Walcelio Melo;  
        </div>
    </div>
    
    <div>
    </div>
</div>


<p>course page</p>
{{test}}

<button ng-click="changeProfile()">change profile</button>

<div footer></div>