<p>this is sign up page hahha</p>

<form method="" action="" name="">
	<fieldset>
		<input type="text" placeholder="Email" name="email" ng-model="signupData.email">
		<input type="text" placeholder="Password" name="password" ng-model="signupData.password">
		<input type="text" placeholder="firstName" name="" ng-model="signupData.firstName">
		<input type="text" placeholder="lastName" name="" ng-model="signupData.lastName">
		<input type="text" placeholder="schoolId" name="" ng-model="signupData.schoolId">
        <button ng-click="doSignup()">sign up</button>
    </fieldset>
</form>
{{signupData.email}}
{{signupData.password}}

<div footer></div>

<!--
first name 
last name 
email
password
school(options)
year?

first name 
last name 
email
password
school(options)
-->